wp-content/themes/fictional-university-theme/node_modules

wp-content/themes/fictional-university-theme/package-lock.json

wp-content/themes/fictional-university-theme/build

wp-content/plugins/are-you-paying-attention/node_modules
wp-content/plugins/are-you-paying-attention/package-lock.json
wp-content/plugins/are-you-paying-attention/build

wp-content/plugins/featured-professor/node_modules
wp-content/plugins/featured-professor/package-lock.json
wp-content/plugins/featured-professor/build

.DS_Store
wp-content/.DS_Store

wp-content/themes/fictional-block-theme/node_modules
wp-content/themes/fictional-block-theme/build
wp-content/themes/fictional-block-theme/package-lock.json